.Rproj.user
.Rhistory
.RData
data/campaign_receipts_cache.rds
data/earmark_totals_cache.rds
.Rhistory
.RData
.Ruserdata
.env
data/raw/

# OpenFEC cache
/data/openfec_cache.rds
.DS_Store
527/
Expend22/
